<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <welcome-file-list>
        <welcome-file>PhotoViewer.html</welcome-file>
    </welcome-file-list>

    <!-- flickr service -->
    <servlet>
        <servlet-name>FlickrServiceImpl</servlet-name>
        <servlet-class>
            ie.dkit.ria.photoviewer.server.service.flickr.FlickrServiceImpl
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ie.dkit.ria.photoviewer.PhotoViewer AmazonService</servlet-name>
        <servlet-class>ie.dkit.ria.photoviewer.server.service.amazon.AmazonServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlickrServiceImpl</servlet-name>
        <url-pattern>/PhotoViewer/flickr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ie.dkit.ria.photoviewer.PhotoViewer AmazonService</servlet-name>
        <url-pattern>/PhotoViewer/AmazonService</url-pattern>
    </servlet-mapping>
</web-app>

